---
layout: home
comments: true
author_profile: true
sidebar_main: true
---
<h3 class="category__subtitle" style="color: #999;">Category</h3>
<header class="site-category">
  <ul style="padding: 0; margin-left: 0;">

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "category" %}
    <li style="list-style-type: none; padding-bottom: 2px;"><a
        class="category-link {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{
        node.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

  </ul>
</header>

<h3 class="recent_posts__subtitle" style="color: #999;">Recent Posts</h3>