---
layout: home
title: "Trouvaillle log."
comments: true
author_profile: true
sidebar_main: true
---
<meta name="google-site-verification" content="Up4NMaytjs0u212Seq63B4_XdJdBWrvUOVROrWpg5cc" />
<meta name="naver-site-verification" content="ca101c91aa6dd3f888eefb8a4894a628c9c75ff4" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3VSF418X77"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3VSF418X77');
  </script>

  <!-- Google adsense-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7824775648651112"
    crossorigin="anonymous"></script>
</head>

<!--
<h3 class="category__subtitle">Category</h3>
<header class="site-category">
  <ul style="padding: 0; margin-left: 0;">

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "category" %}
    <li style="list-style-type: none; padding-bottom: 2px;"><a
        class="category-link {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{
        node.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

  </ul>
</header>
-->

<h3 class="recent_posts__subtitle">Recent Posts</h3>