<h3 style="margin-bottom: 2rem;">App</h3>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="app-list" style="list-style: none; margin-left: 0;">
    {%- assign apps = site.app | sort -%}
    {%- for app in apps -%}
        {%- if  app.visible == true or app.visible == "true" or app.visible == nul -%}
            <li class="site-app" style="background: var(--background-brigther); padding: 1rem; border-radius: 0.5rem; margin-bottom: 1rem;">
                <h2 style="margin: 0;">
                    <a class="site-app-text" href="{{ app.permalink }}" style="color: var(--color); border: none; font-size: 1rem;">
                        {{ app.title }}
                    </a>
                </h2>
                <span class="post-meta" style="font-size: 1rem;">{{- app.date | date: date_format }}</span>
            </li>
        {%- endif -%}
    {%- endfor -%}
</ul>