<ul class="category-list" style="list-style: none; margin-left: 0;">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <li class="site-category" style="border-bottom: solid 1px #333; padding: 8px 0;">
        <h2 style="margin: 0;">
            <a class="site-category-text" href="{{ site.baseurl }}/category/{{ category[0] }}/">
                {{ category[0] }} &middot; <small>{{ category[1].size }}</small>
            </a>
        </h2>
    </li>
    {% endfor %}
</ul>