html {
    width: 100%;
    height: 100%;
    font-size: calc(min(90vh, 90vw) * 0.02);
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

ul {
    list-style-type: none; 
}

#face {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: min(90vh, 90vw);
    height: min(90vh, 90vw);
    margin: 1rem auto;
    /* border: 0.5rem solid black; */
    /* box-shadow: 0 0 3rem rgba(210,165,75,255); */
    box-shadow: 0 0 3rem rgba(96,96,96,255);
    z-index: 0;
}

#index-line-outer {
    position: absolute;
    display: block;
    border-radius: 50%;
    left: calc(min(90vh, 90vw) * 0.03);
    top: calc(min(90vh, 90vw) * 0.03);
    width: calc(min(90vh, 90vw) * 0.94);
    height: calc(min(90vh, 90vw) * 0.94);
    border: calc(min(90vh, 90vw) * 0.003) solid black;
    z-index: 1;
    background-image:linear-gradient(to right, #fff 5px, transparent 1px),  linear-gradient(#ccc 1px, transparent 1px);
}

#index-line-inner {
    position: absolute;
    display: block;
    border-radius: 50%;
    left: calc(min(90vh, 90vw) * 0.05);
    top: calc(min(90vh, 90vw) * 0.05);
    width: calc(min(90vh, 90vw) * 0.90);
    height: calc(min(90vh, 90vw) * 0.90);
    border: calc(min(90vh, 90vw) * 0.003) solid black;
    z-index: 2;
    background-image:linear-gradient(to right, #fff 5px, transparent 1px),  linear-gradient(#ccc 1px, transparent 1px);
}

#index-number {
    position: absolute;
    display: block;
    font-family: 'Times New Roman', Courier, monospace;
    font-weight: 400;
    font-size: 5rem;
    z-index: 3;
}

#hands > ul > li {
    z-index: 0;
}

#face-inner {
    position: absolute;
    display: block;
    /* background: rgba(210,165,75,255); */
    /* background: rgba(96,96,96,255); */
    border-radius: 50%;
    left: calc(min(90vh, 90vw) * 0.25);
    top: calc(min(90vh, 90vw) * 0.25);
    width: calc(min(90vh, 90vw) * 0.5);
    height: calc(min(90vh, 90vw) * 0.5);
    /* box-shadow: 0 0 2rem rgba(0,0,0,0.6) inset; */
    /* border: calc(min(90vh, 90vw) * 0.003) solid rgba(0,0,0,0.3); */
    z-index: 0;
}

#hands-circle {
    position: absolute;
    display: block;
    background: black;
    border-radius: 50%;
    left: calc(min(90vh, 90vw) * 0.49);
    top: calc(min(90vh, 90vw) * 0.49);
    width: calc(min(90vh, 90vw) * 0.02);
    height: calc(min(90vh, 90vw) * 0.02);
    border: calc(min(90vh, 90vw) * 0.003) solid black;
}

#day-outer {
    position: absolute;
    display: block;
    border-radius: 0.5rem;
    left: calc(min(90vh, 90vw) * 0.68);
    top: calc(min(90vh, 90vw) * 0.46);
    width: calc(min(90vh, 90vw) * 0.12);
    height: calc(min(90vh, 90vw) * 0.08);
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.5) inset;
}

#day-inner {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: rgb(0,0,0,0.8);
    font-weight: 500;
    font-size: 2.8rem;
}