a {
    text-decoration: none;
}

.home {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;

    & .recent_posts__subtitle {
        margin: 0 0 4rem 0;
    }
}

.pager {
    display: flex;
    padding: 1rem 0 2rem 0;
    font-size: 1.4rem;
    width: 100%;
}

.pager a {
    border: none;
}

.pagination {
    display: flex;
    margin: 0 auto;

    li {
        list-style-type: none;

        a, div {
            padding: 0 6px;
            margin: 0 4px;
            border-radius: 4px;
        }

        div.current-page {
            background-color: var(--highlight);
            color: var(--background);
        }
    }
}

.pager-edge {
    color: #999;
}

.current-page {
    color: #999;
}

.post-list {
    padding-inline-start: 0;
    li {        
        list-style-type: none;
        /* border-bottom: solid 1px #333; */
        /* margin: 8px 0;
        padding: 1rem 0; */
        margin: 0 0 4rem 0;
    }
}

.excerpt {
    word-break: break-all;
}
