/* external */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DSEG14ClassicMini-Bold";
    src: url("../fonts/fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff");
}

/* internal */
:root {
    --fore-0: white;
    --fore-9: black;
    --back-0: black;
    --back-cell: #C0C0C0;
    --back-cell-focus: #CFCFCF;
    --border-upper: white;
    --border-lower: #71706E;
    --back-outline: #808080;
    --title-bar: navy;
    --hr-top: #616161;
    --hr-bottom: white;

    --number-1: blue;
    --number-2: green;
    --number-3: red;
    --number-4: navy;
    --number-5: brown;
    --number-6: teal;
    --number-7: black;
    --number-8: grey;
}

[data-theme="dark"] {
    --fore-0: white;
    --fore-9: black;
    --back-0: black;
    --back-cell: #4E545B;
    --back-cell-focus: #747d87;
    --border-upper: #777E85;
    --border-lower: #242A31;
    --back-outline: #20262D;
    --title-bar: navy;
    --hr-top: #242A31;
    --hr-bottom: #777E85;

    --number-1: #8DC5FA;
    --number-2: #7DC070;
    --number-3: #EE7F8A;
    --number-4: #E08DF9;
    --number-5: #D5AC43;
    --number-6: #80CACB;
    --number-7: #999999;
    --number-8: #D1D8DF;
}

html {
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root {
    background: var(--back-cell);
    color: var(--fore-9);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, 
                                  currently supported by Chrome, Edge, Opera and Firefox */
}

/***************** wrapper *****************/
#wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0.5rem auto 0 auto;
    flex: 1 1;
    overflow: hidden;
}

#subwrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/***************** header *****************/
#root header {
    display: flex;
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 2rem;
    flex: 0 1 2rem;
}

#header {
    display: flex;
    margin: 0 auto;
}

#header > .container.left {
    flex: 8 1;
    display: flex;
    justify-content: start;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

#header > .container.left > .box {
    position: relative;
    padding: 0.2rem;
    background: black;
}

#header > .container.left > .box > .ambient {
    position: absolute;
    z-index: 0;
}

#left {
    position: absolute;
    z-index: 1;
}

#header > #smiley-container {
    flex: 2 1;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0;
}

#smiley {
    display: flex;
    aspect-ratio: 1;
    width: 2.5rem;overflow: hidden;
    height: 2.5rem;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: -1px -1px 0 var(--fore-9), 1px -1px 0 var(--fore-9), -1px 1px 0 var(--fore-9), 1px 1px 0 var(--fore-9);
    outline: 1px solid var(--border-lower);
}

#header > .container.time {
    flex: 8 1 ;
    display: flex;
    justify-content: end;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#header > .container.time > .box {
    position: relative;
    padding: 0.2rem;
    background: black;
}

#header > .container.time > .box > .ambient {
    position: absolute;
    z-index: 0;
}

#time {
    position: absolute;
    z-index: 1;
}

.digital-red {
    color: red;
    font-family: DSEG14ClassicMini-Bold;
}

.ambient.digital-red {
    color: #400;
    font-family: DSEG14ClassicMini-Bold;
}

.invisible {
    visibility: hidden;
}

/***************** section *****************/
#root section { 
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow: hidden;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#root section::-webkit-scrollbar {
    display: none;
}

#container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.embossed {
    border-left: 0.2rem solid var(--border-upper);
    border-right: 0.2rem solid var(--border-lower);
    border-top: 0.2rem solid var(--border-upper);
    border-bottom: 0.2rem solid var(--border-lower);
}

.embossed-small {
    border-left: 0.1rem solid var(--border-upper);
    border-right: 0.1rem solid var(--border-lower);
    border-top: 0.1rem solid var(--border-upper);
    border-bottom: 0.1rem solid var(--border-lower);
}

.embossed-middle {
    border-left: 0.15rem solid var(--border-upper);
    border-right: 0.15rem solid var(--border-lower);
    border-top: 0.15rem solid var(--border-upper);
    border-bottom: 0.15rem solid var(--border-lower);
}

.debossed {
    border-left: 0.2rem solid var(--border-lower);
    border-right: 0.2rem solid var(--border-upper);
    border-top: 0.2rem solid var(--border-lower);
    border-bottom: 0.2rem solid var(--border-upper);
}

.debossed-small {
    border-left: 0.1rem solid var(--border-lower);
    border-right: 0.1rem solid var(--border-upper);
    border-top: 0.1rem solid var(--border-lower);
    border-bottom: 0.1rem solid var(--border-upper);
}

.debossed-middle {
    border-left: 0.15rem solid var(--border-lower);
    border-right: 0.15rem solid var(--border-upper);
    border-top: 0.15rem solid var(--border-lower);
    border-bottom: 0.15rem solid var(--border-upper);
}

#board {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
}

#board .row {
    display: flex;
    flex: 1 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#board .cell {
    flex: 1 1;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, 
                                  currently supported by Chrome, Edge, Opera and Firefox */
}

#board .cell .item {
    position: relative;
    flex: 1 1;
    background: var(--back-cell);
    cursor: pointer;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, 
                                  currently supported by Chrome, Edge, Opera and Firefox */
}

#board .cell .item.mousedown {
    flex: 1 1;
    background: var(--back-cell);
    border-left: 0.05rem solid var(--back-outline);
    border-right: 0.05rem solid var(--back-outline);
    border-top: 0.05rem solid var(--back-outline);
    border-bottom: 0.05rem solid var(--back-outline);
    cursor: pointer;
}

#board .cell .item.mine {
    
}

#board .cell .item.red {
    background: red;
}

#board .cell .item.mine::after {
    content: '💣';
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    font-size: 2em;
    overflow: hidden;

    /* transform: translateY(calc(50% - 0.6em)); */
}

#board .cell .item.flag::after {
    content: '🚩';
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.9em)); */
    
    font-size: 2.4em;
    overflow: hidden;

    z-index: 0;
    position: absolute;
}

#board .cell .item.flag.no-mine::before {
    content: '✕';
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    font-size: 3em;
    overflow: hidden;

    z-index: 1;
    position: absolute;

    color: red;
}

#board .cell .item.question::after {
    content: '?';
    width: 100%;
    height: 100%;
    display: flex;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* transform: translateY(calc(50% - 0.5em));*/

    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-1::after {
    content: '1';
    width: 100%;
    height: 100%;
    color: var(--number-1);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */

    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-2::after {
    content: '2';
    width: 100%;
    height: 100%;
    color: var(--number-2);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */

    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-3::after {
    content: '3';
    width: 100%;
    height: 100%;
    color: var(--number-3);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */

    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-4::after {
    content: '4';
    width: 100%;
    height: 100%;
    color: var(--number-4);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */

    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-5::after {
    content: '5';
    width: 100%;
    height: 100%;
    color: var(--number-5);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */
    
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-6::after {
    content: '6';
    width: 100%;
    height: 100%;
    color: var(--number-6);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */
    
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-7::after {
    content: '7';
    width: 100%;
    height: 100%;
    color: var(--number-7);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */
    
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-8::after {
    content: '8';
    width: 100%;
    height: 100%;
    color: var(--number-8);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transform: translateY(calc(50% - 0.5em)); */
    
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board #youwin {
    visibility: hidden;
    content: 'You win!';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0.3rem);
    font-size: 5rem;
    font-weight: bold;
    color: var(--back-0);
    font-family: 'VT323', Courier, monospace;
    text-align: center;
    display: flex;
    z-index: 10;
}

#board #youwin::after {
    content: '😎';
    transform: translateY(calc(50% - 2.5rem));
    height: 100%;
    width: 100%;
}

/* title */

#title {
    background: var(--title-bar);
    color: white;
    border: 1px solid black;
    display: flex;
    height: 2.5rem;
    flex: 0 1;
}

#title .left {
    flex: 2 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#title .center {
    flex: 8 1;
    padding: 0.2rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#title .right {
    flex: 2 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#title #back-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    aspect-ratio: 1;
    width: 2.5rem;
    background: var(--back-cell);
    border-right: 1px solid var(--fore-9);
}

#back {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title .left > #back-container a {
    color: var(--fore-0);
    text-shadow: -1px -1px 0 var(--fore-9), 1px -1px 0 var(--fore-9), -1px 1px 0 var(--fore-9), 1px 1px 0 var(--fore-9);
    text-decoration: none;
    font-size: 1rem;
}

#title #theme-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    aspect-ratio: 1;
    width: 2.5rem;
    background: var(--back-cell);
    border-left: 1px solid var(--fore-9);
}

#theme {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 var(--fore-9), 1px -1px 0 var(--fore-9), -1px 1px 0 var(--fore-9), 1px 1px 0 var(--fore-9);
}

/* navigation */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 0 0 1rem;
    flex: 0 1;
}

.menu-item {
    position: relative;
    padding: 0.3rem 1.5rem 0.3rem 0.5rem; 
    font-size: 1.5rem;
    font-family: 'VT323', Courier, monospace;
    border: 0.1rem solid transparent;
}

.menu-item:hover, .menu-item:active {
    background: var(--back-cell-focus);
}

.context-menu {
    position: absolute;
    left: 0;
    top: 2.1rem;
    background: var(--back-cell);
    z-index: 10;
    padding: 0.5rem 0;
    display: none;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 0.2rem 3rem 0.2rem 0.5rem;
    margin: 0;
    cursor: pointer;
}

.context-menu li:hover, .context-menu li:active {
    background: var(--back-cell-focus);
}

.context-menu hr {
    padding: 0;
    margin: 0.3rem 0;
    width: auto;

    border-top: 1px solid var(--hr-top);
    border-bottom: 1px solid var(--hr-bottom);
    border-right: none;
    border-left: none;
}
