/* external */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DSEG14ClassicMini-Bold";
    src: url("../fonts/DSEG14ClassicMini-Bold.woff");
}

/* internal */
:root {
    --fore-0: white;
    --fore-9: black;
    --back-0: black;
    --back-cell: #B9B9B8;
    --back-cell-focus: #cfcfcf;
    --width: calc(100vw-2rem);
}

html {
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root {
    background: var(--back-cell);
    color: var(--fore-9);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 

    display: flex;
    flex-direction: column;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/***************** header *****************/
#root > header {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;
    flex: 0 1 2rem;
}

#header {
    display: flex;
    margin: 0 auto;
}

#header > .container.left {
    flex: 8 1;
    display: flex;
    justify-content: start;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

#header > .container.left > .box {
    position: relative;
    padding: 0.2rem;
    background: black;
}

#header > .container.left > .box > .ambient {
    position: absolute;
    z-index: 0;
}

#left {
    position: absolute;
    z-index: 1;
}

#header > #smiley-container {
    flex: 2 1;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0;
}

#smiley {
    display: flex;
    aspect-ratio: 1;
    width: auto;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
}

#header > .container.time {
    flex: 8 1 ;
    display: flex;
    justify-content: end;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

#header > .container.time > .box {
    position: relative;
    padding: 0.2rem;
    background: black;
}

#header > .container.time > .box > .ambient {
    position: absolute;
    z-index: 0;
}

#time {
    position: absolute;
    z-index: 1;
}

.digital-red {
    color: red;
    font-family: DSEG14ClassicMini-Bold;
}

.ambient.digital-red {
    color: #600;
    font-family: DSEG14ClassicMini-Bold;
}

.invisible {
    visibility: hidden;
}

/***************** section *****************/
#root > section { 
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

#container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.embossed {
    border-left: 0.3rem solid white;
    border-right: 0.3rem solid #71706E;
    border-top: 0.3rem solid white;
    border-bottom: 0.3rem solid #71706E;
}

.embossed-small {
    border-left: 0.1rem solid white;
    border-right: 0.1rem solid #71706E;
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid #71706E;
}

.embossed-middle {
    border-left: 0.2rem solid white;
    border-right: 0.2rem solid #71706E;
    border-top: 0.2rem solid white;
    border-bottom: 0.2rem solid #71706E;
}

.debossed {
    border-left: 0.3rem solid #71706E;
    border-right: 0.3rem solid white;
    border-top: 0.3rem solid #71706E;
    border-bottom: 0.3rem solid white;
}

.debossed-small {
    border-left: 0.1rem solid #71706E;
    border-right: 0.1rem solid white;
    border-top: 0.1rem solid #71706E;
    border-bottom: 0.1rem solid white;
}

.debossed-middle {
    border-left: 0.2rem solid #71706E;
    border-right: 0.2rem solid white;
    border-top: 0.2rem solid #71706E;
    border-bottom: 0.2rem solid white;
}

#board {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
}

#board .row {
    display: flex;
    flex: 1 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#board .cell {
    flex: 1 1;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

#board .cell .item {
    flex: 1 1;
    background: var(--back-cell);
    cursor: pointer;
    overflow: hidden;
}

#board .cell .item.mousedown {
    flex: 1 1;
    background: var(--back-cell);
    border-left: 0.1rem solid #838383;
    border-right: 0.1rem solid #838383;
    border-top: 0.1rem solid #838383;
    border-bottom: 0.1rem solid #838383;
    cursor: pointer;
}

#board .cell .item.mine {
    
}

#board .cell .item.red {
    background: red;
}

#board .cell .item.mine::after {
    content: '💣';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(calc(50% - 0.6em));
    font-size: 2em;
    overflow: hidden;
}

#board .cell .item.flag::after {
    content: '🚩';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(calc(50% - 0.8em));
    font-size: 1.8em;
    overflow: hidden;
}

#board .cell .item.question::after {
    content: '?';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-1::after {
    content: '1';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-2::after {
    content: '2';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: green;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-3::after {
    content: '3';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-4::after {
    content: '4';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: navy;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-5::after {
    content: '5';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: brown;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-6::after {
    content: '6';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: teal;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-7::after {
    content: '7';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board .cell .item.number-8::after {
    content: '8';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: grey;
    font-weight: bold;
    transform: translateY(calc(50% - 0.5em));
    font-size: 4em;
    font-family: 'VT323', Courier, monospace;
    overflow: hidden;
}

#board #youwin {
    visibility: hidden;
    content: 'You win!';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0.3rem);
    font-size: 5rem;
    font-weight: bold;
    color: var(--back-0);
    font-family: 'VT323', Courier, monospace;
    text-align: center;
    display: flex;
    z-index: 10;
}

#board #youwin::after {
    content: '😎';
    transform: translateY(calc(50% - 2.5rem));
    height: 100%;
    width: 100%;
}

#title {
    background: blue;
    color: white;
    border: 1px solid black;
    display: flex;
}

#title .left {
    flex: 2 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#title .center {
    flex: 8 1;
    padding: 0.2rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#title .right {
    flex: 2 1;
}

#title #back-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    aspect-ratio: 1;
    width: auto;
    background: var(--back-cell);
    border-right: 1px solid var(--fore-9);
}

#back {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title .left > #back-container a {
    color: var(--fore-0);
    text-shadow: 0px 1px 1px var(--fore-9);
    text-decoration: none;
    font-size: 1rem;
}

/* navigation */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 0 0 1rem;
}

.menu-item {
    padding: 0.3rem 1.5rem 0.3rem 0.5rem; 
    font-size: 1.5rem;
    font-family: 'VT323', Courier, monospace;
}

.menu-item:hover, .menu-item:active {
    background: var(--back-cell-focus);
}
