---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "syntax.css";
@import "home.scss";
@import "article.scss";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

:root {
  --highlight: black;
  --background: white;
  --color: black;
  --excerpt: black;
  --header-border: #ddd;
  --kbd-background: #bbb2;
  --kbd-border: #bbb;
  --point: #75a590;
  --code-background: #334; /* #bbb; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight: white;
    --background: #181818;
    --color: #ccc;
    --excerpt: #ccc;
    --header-border: #333;
    --kbd-background: #5552;
    --kbd-border: #555;
    --point: #75a590;
    --code-background: #262636;
  }
}
html {
  background: var(--background);
  color: var(--color);
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  font-size: 14px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  left: 0;
  right: 0;;
  margin: 0;
  padding: 0;
}

.header {
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  border-bottom: 1px solid var(--header-border)
}

.header a {
  border: none;
}

.container {
  left: 0;
  right: 0;
  padding: 3rem;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem 0.2rem 0 0;
  padding: 0;
}

.post-title, h1 {
  font-size: 1.525rem;
  line-height: 1.5;
  padding: 0 0 8px 0;
}

h2 {
  font-size: 1.313rem;
  margin-top: 1.313rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

h4 {
  font-size: 1.15rem;
  margin-top: 1.15rem;
}

h5 {
  font-size: 1.1rem;
  margin-top: 1.1rem;
}

h6 {
  font-size: 1.05rem;
  margin-top: 1.05rem;
}

img {
  width: 100%;
}

.post-link {
  font-size: 1.1rem;
}

.site-title, .site-title:visited {
  color: var(--highlight);
}

.post-meta-wrapper {
  width: 100%;
  text-align: right;
}

.post-meta {
  color: #999;
  text-align: right;
}

a, a:visited {
  color: var(--highlight);
  border-bottom: 1px solid var(--highlight);
  font-weight: normal;
}

a:hover {
  /* font-weight: bold; */
  text-decoration: none;
  /* text-shadow: 0 0 0.1rem var(--highlight); */
  color: var(--point);
}

ul {
  padding-left: 2rem;
}

.site-header {
  border-top: none;
}

table {
  border: none;
  width: auto;
  border-collapse: collapse;
  font-size: 1rem;
  max-width: 100%;
}

td, th {
  border: 1px solid var(--header-border);
  border-spacing: 0;
  padding: 0.8rem;
  margin: 0;
}

.pagination li div.pager-edge {
  border: none;
}

.excerpt {
  color: var(--excerpt);
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5rem;
}

#progress-indicator-outer {
  z-index: 11;
}

.progress-indicator {
  background-color: #fff;
  height: 100%;
  pointer-events: none;
  transition: 0.1s;
}

.post .prev {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.post-page-navigation {
  display: flex;
  margin: 0 0 3rem 0;
  font-size: 1.5rem;
}

.post-page-navigation a {
  color: var(--point);
  border: none;
}

.post-page-navigation .prev {
  flex: 1 1;
  font-size: 1.5rem;
  font-weight: 400;
  justify-content: left;
  text-align: left;
}

.post-page-navigation .next {
  flex: 1 1;
  font-size: 1.5rem;
  font-weight: 400;
  justify-content: right;
  text-align: right;
}

.post .prev a {
  color: var(--point);
  border: none;
}


#disqus_thread {
  margin-top: 2rem;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
}

#form > form > div > div:nth-child(4) > div > div > section > div.connect > ul,
#favorite-button > div > div > a > span.label.label-default > span,
#main-nav > div > nav > ul > li.nav-tab.nav-tab--primary.tab-user > ul > li.nav-tab.nav-tab--primary.notification-menu.unread {
  filter: grayscale(1);
}

.highlighter-rouge > .highlight,div.highlight { 
  background: transparent;
}

header.site-header {
  z-index: 10;
}

header.site-header.attached.fixed {
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  -moz-backdrop-filter: blur(1rem);
  -ms-backdrop-filter: blur(1rem);
  -o-backdrop-filter: blur(1rem);
}

.post-title {
  color: var(--highlight);
}

.post-content {
  padding: 3rem 0 3rem 0;
  line-height: 1.8;
}

.post-title, .post-content h1 {
  font-size: 2rem;
}

.post-header {
  /* border-bottom: 1px solid #333; */
}

.post-content h2 {
  font-size: 1.6rem;
}

.post-list h3 {
  font-size: 1.2rem;
  margin-block-start: 1rem;
  margin-block-end: 0.25rem;
}

.footer-col-wrapper {
  display: flex;
}

.footer-col {
  flex: 1 1;
}

.footer-col:nth-of-type(1) {
  justify-content: left;
  text-align: left;
}

.footer-col:nth-of-type(2) {
  justify-content: right;
  text-align: right;
}

.site-nav .page-link {
  font-size: 1.2rem;
}

code.highlight, pre, pre.highlight {
  background: var(--code-background) !important;
}

pre {
  tab-size: 4;
  padding: 1rem 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  letter-spacing: 0.5px;
}

pre > code { 
  background: transparent !important;
  border: none;
  border-radius: 6px;
}

code.highlighter-rouge {
  color: #EB5757;
  background: rgba(135,131,120,0.15);
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  word-break: break-all;
}

code.language-log {
  color: white;
}

blockquote {
  background: rgba(110,118,129,0.16) !important;
  /* background: rgba(135,131,120,0.15) !important; */
  border-left: 5px solid rgba(110,118,129,0.48) !important;
  padding: 1rem 0.5rem 1rem 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  p {
    margin: 0;
  }
}

kbd {
  display: inline-block;
  padding: 0.5rem;
  font: 0.875rem ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 0.7rem;
  color: var(--highlight);
  vertical-align: middle;
  background-color: var(--kbd-background);
  border: solid 0.07rem var(--kbd-border);
  border-bottom-color: var(--kbd-border);
  border-radius: 0.45rem;
  box-shadow: inset 0 -1px 0 var(--header-border);
}

table tr:nth-child(2n) {
  background: var(--kbd-background);
}

@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
  
  .header {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  blockquote {
    font-size: 1rem;
  }

  .pager {
    font-size: 1.5rem;
  }

  a:hover {
    text-shadow: none;
  }
}
