---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "syntax.css";
@import "home.scss";
@import "article.scss";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

:root {
  --highlight: white;
  --background: #181818;
  --color: #ccc;
}

html {
  color: var(--color);
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 1rem 2rem 0 2rem;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }

  .excerpt {
    color: #999;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  blockquote {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0.2rem 0 0;
  padding: 0;
}

.post-title, h1 {
  font-size: 1.525rem;
  line-height: 1.5;
  padding: 0 0 8px 0;
}

h2 {
  font-size: 1.313rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.05rem;
}

.post-link {
    font-size: 1.1rem;
}

.site-title, .site-title:visited {
  color: var(--highlight);
}

.post-meta {
  color: #999;
}

a, a:visited {
  color: var(--highlight);
}

a:hover {
  text-decoration: none;
}

.site-header {
  border-top: none;
}

table {
  border: none;
  width: auto;
}

.pagination li div.pager-edge {
  border: none;
}

.excerpt {
  color: #999;
  font-size: 1rem;
  margin-top: 1rem;
}

#progress-indicator-outer {
  z-index: 11;
}

.progress-indicator {
  background-color: #fff;
  height: 100%;
  pointer-events: none;
  transition: 0.1s;
}

.post-page-navigation {
  color: var(--highlight);
  display: flex;
}

.post-page-navigation .prev {
  flex: 1 1;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: left;
  text-align: left;
}

.post-page-navigation .next {
  flex: 1 1;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: right;
  text-align: right;
}

.post .prev {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


#disqus_thread {
  margin-top: 2rem;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
}

#form > form > div > div:nth-child(4) > div > div > section > div.connect > ul,
#favorite-button > div > div > a > span.label.label-default > span,
#main-nav > div > nav > ul > li.nav-tab.nav-tab--primary.tab-user > ul > li.nav-tab.nav-tab--primary.notification-menu.unread {
  filter: grayscale(1);
}

.highlighter-rouge > .highlight,div.highlight { 
  background: transparent;
}

code, code.highlight, pre, pre.highlight {
  background: rgba(110,118,129,0.16) !important;
}

pre > code { 
  background: transparent !important;
}

header.site-header {
  z-index: 10;
}

header.site-header.attached.fixed {
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -ms-backdrop-filter: blur(16px);
  -o-backdrop-filter: blur(16px);
}

.post-title {
  color: var(--highlight);
}

.post-content {
  padding: 1rem 0;
  line-height: 1.8;
}

.post-title, .post-content h1 {
  font-size: 2rem;
}

.post-header {
  border-bottom: 1px solid #333;
}

.post-content h2 {
  font-size: 1.6rem;
}

.post-list h3 {
  font-size: 1.2rem;
  margin-block-start: 1rem;
  margin-block-end: 0.25rem;
}

.footer-col-wrapper {
  display: flex;
}

.footer-col {
  flex: 1 1;
}

.footer-col:nth-of-type(1) {
  justify-content: left;
  text-align: left;
}

.footer-col:nth-of-type(2) {
  justify-content: right;
  text-align: right;
}

.site-nav .page-link {
  font-size: 1.2rem;
}

pre, code {
  border: none;
  border-radius: 6px;
}

pre {
  padding: 0.5rem 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

code.highlighter-rouge {
  padding: 4px 8px;
  word-break: break-all;
}

code {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  letter-spacing: 0.5px;
}

blockquote {
  background: rgba(110,118,129,0.16) !important;
  border-left: 5px solid rgba(110,118,129,0.48) !important;
  padding: 1.5rem 0.5rem 1.5rem 1rem;
  p {
    margin: 0;
  }
}
