/*
:root {
  --code-text: #080808;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-text: #f8f8f2;
  }
}
*/

:root {
  --code-text: #f8f8f2;
}

.highlight table td { padding: 5px !important; }
.highlight table pre { margin: 0 !important; }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  color: #5e5d83 !important;
  font-style: italic !important;
}
.highlight .cm {
  color: #5e5d83 !important;
  font-style: italic !important;
}
.highlight .c1 {
  /* color: #5e5d83 !important; */
  color: #7e7da3 !important;
  font-style: italic !important;
}
.highlight .cp {
  color: #465457 !important;
  font-weight: bold !important;
}
.highlight .cs {
  color: #465457 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
.highlight .err {
  color: var(--code-text) !important;
  background-color: #403d3d !important;
}
.highlight .gi {
  color: #a6e22e !important;
}
.highlight .gd {
  color: #f92672 !important;
}
.highlight .ge {
  color: #1b1d1e !important;
  font-style: italic !important;
}
.highlight .gr {
  color: #f92672 !important;
}
.highlight .gt {
  color: #f92672 !important;
}
.highlight .gh {
  color: #403d3d !important;
}
.highlight .go {
  color: #f0eded !important;
}
.highlight .gp {
  color: #66d9ef !important;
}
.highlight .gs {
  font-weight: bold !important;
}
.highlight .gu {
  color: #465457 !important;
}
.highlight .k, .highlight .kv {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kc {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kd {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kp {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kr {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kt {
  color: #66d9ef !important;
  font-weight: bold !important;
}
.highlight .kn {
  color: #f92672 !important;
  font-weight: bold !important;
}
.highlight .ow {
  color: #f92672 !important;
  font-weight: bold !important;
}
.highlight .o {
  color: #f92672 !important;
  font-weight: bold !important;
}
.highlight .mf {
  color: #af87ff !important;
}
.highlight .mh {
  color: #af87ff !important;
}
.highlight .il {
  color: #af87ff !important;
}
.highlight .mi {
  color: #af87ff !important;
}
.highlight .mo {
  color: #af87ff !important;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #af87ff !important;
}
.highlight .se {
  color: #af87ff !important;
}
.highlight .sb {
  color: #d7d787 !important;
}
.highlight .sc {
  color: #d7d787 !important;
}
.highlight .sd {
  color: #d7d787 !important;
}
.highlight .s2 {
  color: #d7d787 !important;
}
.highlight .sh {
  color: #d7d787 !important;
}
.highlight .si {
  color: #d7d787 !important;
}
.highlight .sx {
  color: #d7d787 !important;
}
.highlight .sr {
  color: #d7d787 !important;
}
.highlight .s1 {
  color: #d7d787 !important;
}
.highlight .ss {
  color: #d7d787 !important;
}
.highlight .s, .highlight .sa, .highlight .dl {
  color: #d7d787 !important;
}
.highlight .na {
  color: #a6e22e !important;
}
.highlight .nc {
  color: #a6e22e !important;
  font-weight: bold !important;
}
.highlight .nd {
  color: #a6e22e !important;
  font-weight: bold !important;
}
.highlight .ne {
  color: #a6e22e !important;
  font-weight: bold !important;
}
.highlight .nf, .highlight .fm {
  color: #a6e22e !important;
  font-weight: bold !important;
}
.highlight .no {
  color: #66d9ef !important;
}
.highlight .bp {
  color: var(--code-text) !important;
}
.highlight .nb {
  color: #1ea9ea !important;
}
.highlight .ni {
  color: var(--code-text) !important;
}
.highlight .nn {
  color: var(--code-text) !important;
}
.highlight .vc {
  color: var(--code-text) !important;
}
.highlight .vg {
  color: var(--code-text) !important;
}
.highlight .vi {
  color: var(--code-text) !important;
}
.highlight .nv, .highlight .vm {
  color: var(--code-text) !important;
}
.highlight .w {
  color: var(--code-text) !important;
}
.highlight .nl {
  color: var(--code-text) !important;
  font-weight: bold !important;
}
.highlight .nt {
  color: #f92672 !important;
}
.highlight {
  color: var(--code-text) !important;
  background-color: #1b1d1e;
}
